
<div class='container-fluid'>
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <span>
        <strong>Posted by: {{user}}</strong>
        <hr>
      </span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus sollicitudin neque dictum, et ornare nisl ornare. Pellentesque imperdiet maximus ligula, id accumsan sem malesuada ac. Suspendisse ac ligula a dolor suscipit pretium. Pellentesque auctor euismod augue, sit amet sodales justo blandit ac. Vestibulum porttitor eros eu nulla interdum, et mattis ante efficitur. Nunc condimentum mattis sem et euismod.
        <p class='lead'>Vestibulum bibendum mauris pellentesque, convallis massa volutpat, commodo ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
      </p>

      <p> Etiam ornare congue elit, vitae molestie ligula condimentum quis. Quisque placerat neque eu interdum pulvinar. Ut a eleifend nunc, eget fringilla sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque ac justo viverra, tristique erat nec, viverra neque. Sed tempor mi interdum massa placerat, ut fringilla turpis imperdiet. Integer turpis purus, egestas eget ullamcorper vel, luctus eu nibh
      </p>

      <p>
        Mauris finibus sem id dictum placerat. Vivamus nec arcu lobortis, tincidunt tortor ut, vulputate nunc. Vestibulum vitae tempor ex, a aliquam lectus. Proin nibh nisl, suscipit eget ex vitae, ullamcorper vestibulum purus. Nulla venenatis auctor lorem, sit amet suscipit mi mollis ac. Donec gravida velit in odio consequat, vehicula elementum risus condimentum. Nunc vulputate imperdiet quam ac porttitor. Praesent scelerisque augue est, a mattis turpis elementum quis. Nullam cursus eros ex, in efficitur turpis sollicitudin ut. Phasellus lacus nunc, consequat laoreet hendrerit sit amet, ornare nec nisi. Proin hendrerit sagittis augue, a sodales libero lobortis nec. Nam fringilla ipsum nunc, a blandit ex laoreet ac. Integer dapibus, ex non sodales porta, purus massa ullamcorper nunc, condimentum placerat nisi leo at leo. Vivamus sodales ornare gravida. Nulla mattis lacus vitae massa scelerisque, eu scelerisque orci commodo.
      </p>
      <hr>
      <span>
        Comments ( {{@index}} )
        <!-- eventually make this hotlink to comment form below-->
        <button type='submit' class='btn btn-sm' action='/comments' method="post">Comment</button>
      </span>
    </div>
    <div class="col-md-2"></div>

  </div>
  <hr>
  <section class='comments'>

    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <h5>UserName</h5>
        <p>Etiam ornare congue elit, vitae molestie ligula condimentum quis. Quisque placerat neque eu interdum pulvinar. Ut a eleifend nunc, eget fringilla sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque ac justo viverra, tristique erat nec, viverra neque. Sed tempor mi interdum massa placerat, ut fringilla turpis imperdiet. Integer turpis purus, egestas eget ullamcorper vel, luctus eu nibh
        </p>
      </div>
      <div class='col-md-4'></div>
    </div>
    <hr>
  </section>

  <section class='newComment'>

    <form class='row' id='makeComment' action='/blog' method='post'>
      <div class='col-md-4'></div>
      <div class='col-md-8'>
          <textarea type="text" class="form-control comment" name='newComment' placeholder="comment"></textarea>
          <button type='submit' class='btn btn-sm' action='/blog' method="post">Place Comment</button>
      </div>
      <div class='col-md-4'></div>
    </form>

  </section>
</div>
