<div class='container-fluid'>
  <div class='card-columns'>
      {{#each preview}}
        <div class='card-block'>
          <a href="/single-blog/{{id}}"> <img class='card-img-top' src="{{image}}" alt='image for blog'> </a>
        </div>
      {{/each}}
    </div>
    <div class='socketChat'>
      <ul id="messages"></ul>
      <form class='chatForm'>

        <input  class='textbox' id="m" autocomplete="off"/> <button>Send</button>
      </form>
    </div>
  </div>
