  <div class='container-fluid'>
      <h3 class="text-uppercase">Recent Posts</h3>
      <hr>

      <div class="col-md-2">
      </div>

      <div class="col-md-8">

        <div class="row">
          <h4>Post Title 1 </h4>
          <div class="col-md-8">
            <p>Vestibulum bibendum mauris pellentesque, convallis massa volutpat, commodo ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <h6>Posted By: --username</h6>
          </div>
        </div>

        <div class="row">
        <h5>Post Title 2 </h5>
          <div class="col-md-8">
            <p>Vestibulum bibendum mauris pellentesque, convallis massa volutpat, commodo ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <h6>Posted By: --username</h6>
          </div>
        </div>

        <div class="row">
        <h5>Post Title 3 </h5>
          <div class="col-md-8">
            <p>Vestibulum bibendum mauris pellentesque, convallis massa volutpat, commodo ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <h6>Posted By: --username</h6>
          </div>
        </div>

      </div>
      <div class="col-md-2">
      </div>

  </div>
