<div class='container-fluid'>
  <div class='col-md'>
    <div class='col-md'>
      <h4 class='centered'> <hr>Have you tried something recently? <br><br> Wanna talk about it? <br><br>Register or Login below!<br> <hr> </h4>
    </div>
    <form class="form-horizontal " id='login' action='/login' method='get'>
      <div class="form-group">
        <div class="col-md">
          <input type="submit" class="btn btn-default" value='Login'></input>
        </div>
      </div>
    </form>
    <form class="form-horizontal" id='register' action='/register' method='get'>
      <div class="form-group">
        <div class="col-md">
          <input type="submit" class="btn btn-default" value='Register'></input>
        </div>
      </div>
    </form>
  </div>
</div>
