body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

h3 {
  padding-bottom: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

footer {
  background-color: gainsboro;
  margin-top: 5%;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section {
  margin-top: 4%;
}

.col-md{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.text-uppercase {
  font-weight: 400;
}

.active {
  font-weight: bold;
  color: black;
}

.list-inline{
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.specialh3 {
  padding-left: 11%;
}

.comment {
  margin: 0 8% 5%;
}

img {
  max-width: 50vw;
  margin-bottom: 5%;
  align-self: center;
}

.right-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
